name: Docker Github Action with Self-Hosted Runner

on: [push]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: clone actions   
        uses: actions/checkout@v3
      - name: Pull DVC
        run: docker run --rm --name dvccont -v "/home/mindlabs/img_yolov7/SHR/actions-runner/actions-runner/_work/TestLinux2/TestLinux2/data/:/dataset/" image_dvc bash -c "cd /dataset/ && git init && dvc init && dvc remote add -d minio s3://dataset -f && dvc remote modify minio endpointurl http://10.8.0.30:9000/ && dvc remote modify minio access_key_id QMSGHUZUGYCNHSCBKORY && dvc remote modify minio secret_access_key enxpe6cVDQpaLusq1wxDLBd5C71bVf+R2XVvTkXO && dvc pull"
      - name: list dir
        run: ls
      - name: Run YOLOv7 inside Docker container
        run: docker run --rm --gpus all --name yolocont -v "/home/mindlabs/img_yolov7/SHR/actions-runner/actions-runner/_work/TestLinux2/TestLinux2/data/:/dataset/" -v "/home/mindlabs/img_yolov7/SHR/Resultados/:/yolov7/runs" --shm-size=512m image_yolov7 python train.py --device 0 --workers 4 --batch-size 16 --epochs 1 --img 640 640 --data /dataset/custom_data.yaml --hyp /dataset/hyp.scratch.custom.yaml --cfg /dataset/cfg-yolov7-custom.yaml --weights yolov7.pt --name yolov7
